* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/wallpaper-furia.png");
  background-size: cover;
  background-position: -520px top;
  background-repeat: no-repeat;
  height: 1vh;
  width: 200vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

}

.chat-container {
  background-image: url("./assets/fundo-chat.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .chat-container {
    width: 95%;
    max-width: 380px;
    height: 70%;
    max-height: 550px;
  }
}

@media (max-width: 480px) {
  .chat-container {
    width: 95%;
    max-width: 300px;
    height: 65%;
    max-height: 450px;
  }
}

h1 {
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.message.bot {
  align-self: flex-start;
  background-color: #e1e1e1;
  color: black;
}

.input-container {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
